body {
    background:azure;
}

li {
    list-style-type: none;
}

.buttons {
    padding: 20px;
    width: 200px;
    height: 200px;
}

input[type=checkbox]:checked + .changeifchecked {
    text-decoration: line-through;
}

#info {
    display: none;
    background-color: #87CEEB;
    text-align: center;
    border: 2px;
    width: 294px;
    height: 100px;
    position: absolute;
    margin-top: 225px;
    margin-left: 225px;
    border-radius: 30px;
}

#help-btn {
    display: none;
    background: red;
    position: absolute;

}

