body {
    background:azure;
}

li {
    list-style-type: none;
}

.buttons {
    width: auto;
    height: auto;
    border-radius: 15px;
    padding: 10px;
}

img {
    max-height: 100px;
}

input[type=checkbox]:checked + .changeifchecked {
    text-decoration: line-through;
}

#info {
    display: none;
    background-color: #87CEEB;
    text-align: center;
    font-size: 38px;
    border: 2px;
    width: auto;
    height: auto;
    position: absolute;
    top: 50px;
    left: 360px;
    border-radius: 30px;
}

#help-btn {
    top:0px;
    left: 0px;
    display: none;
    background: red;
}


